@media (min-width: 768px){
  #readmore_mobile {
    display: none;
  }
  #readmore_web {
    display: inline-block;
  }
  .about_animated {
    .aa_download {
      width: 30%;
      float: left;
      padding: 11% 0;
      h2 {
        padding-left: 3em;
        text-align: left;
        margin-bottom: 1.3em;
      }
      .download_btn {
        padding: .5em 1.1em;
        display: inline-block;
        margin-bottom: 15px;
        img {
          width: 10em;
        }
      }
    }
    .ip {
      width: 65% !important;
    }
    .aa_phone_images {
      width: 35%;
      float: left;
      text-align: center;
      img {
        width: 80%;
      }
    }
    .aa_programs {
      width: 35%;
      float: left;
      padding: 1.5em 5em 0 0;
      .program_card {
        text-align: left;
        padding: 1em;
        border-left: 2px solid $blue;
        margin-bottom: 1em;
        h5 {
          font-weight: 400;
          font-size: 25px;
        } 
        p {
          font-size: 14px;
          margin-bottom: 0;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .tackle_section {
    margin: 5em 0;
    .tackle_text_container {
      margin: 15% 0;
      width: 60%;
      float: left;
      padding-left: 20%; 
      text-align: left;
      h2 {
        margin-bottom: 1em;
      }
    }
    .tackle_img {
      width: 40%;
      float: left;
      text-align: left;
      img {
        width: 50%;
      }
    }
  }
  .experts_section {
    text-align: center;
    padding: 1em 10%;
    h2 {
      margin-bottom: 1rem;
    }
    h5 {
      margin-bottom: 2rem;
    }
    .expert_card {
      padding-left: 4rem;
      width: 30%;
      float: left; 
      margin: 0 1.5%;
      text-align: left;
      height: 12rem;
      img {
        width: 30%;
        margin-bottom: 10px;
      }
      h5 {
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 400;
      }
      p {
        font-size: 14px;
        margin-bottom: 0;
      }
    }
  }
	.applanding_container {
		.aboutlanding {
			float: left;
			width: 50%;
			padding: 4em 7% 0 4em;
			h2, p {
				position: relative;
				z-index: 5;
			}
      h1 {
        position: relative;
        z-index: 5;
        padding: 2em 0 .5em 0;
      }
		}
		.founders_img {
			float: right;
			width: 50%;
			img {
				width: 100%;
			}
		}
	}
	.fweb {
	  display: inline; 
	}

	 .fappwe{
		 display: inline;
	 }
	
	 
	.fapp {
		display: none; 
	}
	.ropebg {
		display: block;
		position: absolute;
		top: 35%;
		right: 35%;
	}
	.web_about_img {
		padding: 4em;
		background: #FDF6F3;
		display: block;
		text-align: center;
    img {
      width: 100%;
    }
	}
	.founder_section {
		display: none;
	}
	.committed_section {
		padding: 1em 10%;
		.cs_box {
			float: left;
			text-align: center;
			width: 33%;
			padding: 0 3%;
			img {
				position: relative;
				top: 0;
			}
		}
	}
	.promise_section {
		background: #FDEBD7;
		
		.psimg_container {
			float: left;
			width: 40%;
			margin-top: 5rem;
			img {
				width: 100%;
			}
		}
		.our_promise_cont {
			margin: 4.5rem 0 0 4rem;
			float: left;
			width: 40%;
		}
	}
	.ps_container {
		padding: 5rem 0;
		background: #FDF6F3;
	}
  .ourpromise {
    display: none;
  }
}