.bg_hearder {
  height: 5em;
  background: #fdebd7;
}
.bg-section2 {
  background: #fdebd7;
}
.lg_infor2 {
  height: 200px;
  font-family: Gibson;
  font-style: normal;
  text-align: center;
  margin-left: 0 !important;
  padding-top: 1em;

  h2 {
    font-weight: 200;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}
.message {
  height: 9em;
  background: white;
  border: 1px solid rgb(243, 239, 239);
  margin-bottom: 2em;
  width: 100%;
  border-bottom: 1px solid black;
}
.first-input {
  height: 2em;
  background: white;
  border: 1px solid rgb(243, 239, 239);
  margin-bottom: 2em;
  width: 100%;
  border-bottom: 1px solid black;
}
.submitbtn_mobile {
  width: 80%;
  background: #f58967;
  border-radius: 100px;
  border: 1px solid rgb(243, 239, 239);
  margin: 2em auto;
  margin-left: 2em;
  color: white;
  &:hover {
    cursor: pointer;
    background: #eb6054;
  }
}
.success {
  color: #6872e7;
  font-size: 15px;
}
.message-web {
  display: none;
}
.message-mobile {
  height: 9em;
  background: white;
  border: 1px solid rgb(243, 239, 239);
  padding: 0.5em;
  width: 100%;
  border-bottom: 1px solid#443B76;
}
.first-input-web {
  display: none;
}
.first-input-web2 {
  display: none;
}
.submit-web {
  display: none;
}
.success-web {
  display: none;
}
.bg-section-web1 {
  display: none;
}
.lg_infor-web1 {
  display: none;

  h2 {
    font-family: GibsonLight;
    font-weight: normal;
  }
}
.app-main {
  padding: 1em !important;
  height: 100%;
  background: #fdf6f3;
}
.app-main-web2 {
  display: none;
}
.contactwrapper {
  background: #fdebd7;
}
