@media (min-width: 768px) and (max-width: 2000px){
  .landing_section_web {
    padding: 4em 2em;
    .iphone_img_container {
      width: 50%;
      float: left;
      img {
        width: 80%;
      }
    }
    .texts_container {
      width: 50%;
      float: left;
      padding: 5em 0;
      img {
        margin-bottom: 2em;
      }
      h2 {
        text-align: left;
        margin-bottom: 2em;
      }
      p {
        width: 70%;
        margin-bottom: 3em;
      }
    }
  }
	.homewrapper {
		background: #FDF6F3;
	}
  .download_btn {
    margin: 0 1em 0 0;
  }
  .download_btn_red {
    background: #EB6054;
    padding: 1em 1em;
    border-radius: 5px;
    margin: 0 1em 0 0;
  }
  .get_app_section {
    .store_imgs_cont {
      margin-left: 2em;
    }
  }
  .landing_bg_img_app {
		display: none;
	}
	.landing_bg_img_web {
		display: block;
		position: absolute;
		top: 15%;
		right: 10%;
		width: 60%;
		z-index: 0;
	}
	.character_img {
	    text-align: center;
	    position: absolute;
	    top: 30%;
	    left: 55%;
	}
	.homelanding {
		text-align: left;
		padding: 13% 7% 0 7%;
		h2 {
			position: relative;
			z-index: 5;
      padding: 0 1.3em;
		}
	}
	.download_container {
		position: relative;
		text-align: left;
		padding: 2em 0 0 3em;
		z-index: 5;
	}
	.apps_img_container {
		text-align: left;
		position: relative;
		z-index: 5;
		margin-bottom: 29em;
		padding: 3em 0 0 3em;
		img {
			margin: 0 1em 0 0;
		}
	}
	.ce_img {
		display: none;
	}
	.institutes_img_web {
		display: block;
		width: 100%;
		position: absolute;
	    left: 0;
	    top: 97%;
	    z-index: 5;
	}
	.institutes_img {
		display: none;
	}
	.ce_img_web {
		display: inline;
	}
	.intro_cont {
		display: none;
	}
	.intro_img {
		display: block;
		width: 100%;
		text-align: center;
		img {
			width: 60%;
		}
	}
	.infosection {
		padding: 0;
		margin-top: 38em;
		h2 {
			text-align: center;
		}
	}
	.will_gain_web {
    display: block;
		margin: 0 12.5%;
	}
	.info_box {
		width: 30%;
		float: left;
		margin: 0 1.5%;
	}
	.find_out_more_container {
		text-align: center;
		margin: 5% 35%;
	}
	.testimonialcontainer {
		padding: 10em 20em;
		background: url(../img/testimonialbgweb.png);
		background-size: cover;
		background-repeat: no-repeat;
    h5 {
      font-size: 36px;
      height: 7em !important;
    }
	}
	.diagramapp {
		display: none;
	}
	.science_behind {
		padding: 5% 8%;
		h2 {
			width: 10em;
		}
	}
	.get_app_section {
		padding: 2% 22% 0;
		background: #FDEBD7;
		.halfiphoneweb {
			float: left;
      width: 45%;
		}
		.store_imgs_cont {
		    position: absolute;
		    right: 25%;
		    margin-top: 15em;
		}
		h5 {
			float: right;
			padding: 15% 0 0 0;
			width: 50%;
			text-align: left;
		}
	}
	.halfiphone {
		display: none;
	}
	.halfiphoneweb {
		display: block;
	}
  .sb_web {
    display: block;
    position: relative;
  }
  .sb_mobile {
    display: none;
  }
  .diagramweb {
    width: 20%;
  }
  .sb1 {
    position: absolute;
    top: 16%;
    right: 13%;
    z-index: 6;
    width: 35% !important;
  }
  .sb2 {
    position: absolute;
    top: 38%;
    left: 12%;
    width: 35%;
  }
  .sb3 {
    position: absolute;
    top: 17%;
    right: 45%;
    width: 14% !important;
    z-index: 5;
  }
  .sb4 {
    position: absolute;
    top: 30%;
    left: 34%;
    width: 6% !important;
    z-index: 5;
  }
  .sb5 {
    position: absolute;
    top: 40%;
    right: 32%;
    width: 5% !important;
    z-index: 5;
  }
  .sb6 {
    position: absolute;
    top: 22%;
    right: 35%;
    width: 28% !important;
  }
  .sb7 {
    position: absolute;
    top: 39%;
    right: 42%;
  }
  .diagram_container {
    height: 40em;
  }
  .is_web {
    display: block;
  }
  .is_mobile {
    display: none;
  }
}
@media (min-width: 2000px){
  .is_mobile {
    display: none;
  }
  .is_web {
    display: block;
  }
  .sb_web {
    display: block;
  }
  .landing_section_web {
    display: block;
    padding: 4em 2em;
    .iphone_img_container {
      width: 50%;
      float: left;
      img {
        width: 80%;
      }
    }
    .texts_container {
      width: 50%;
      float: left;
      padding: 5em 0;
      img {
        margin-bottom: 2em;
      }
      h2 {
        text-align: left;
        margin-bottom: 2em;
      }
      p {
        width: 70%;
        margin-bottom: 3em;
      }
    }
  }
  .homewrapper {
    background: #FDF6F3;
  }
    .landing_bg_img_app {
    display: none;
  }
  .landing_bg_img_web {
    display: block;
    position: absolute;
    top: 15%;
    right: 10%;
    width: 60%;
    z-index: 0;
  }
  .character_img {
      text-align: center;
      position: absolute;
      top: 30%;
      left: 55%;
  }
  .homelanding {
    text-align: left;
    padding: 13% 7% 0 7%;
    h2 {
      position: relative;
      z-index: 5;
      padding: 0 1.3em;
    }
  }
  .download_container {
    position: relative;
    text-align: left;
    padding: 2em 0 0 3em;
    z-index: 5;
  }
  .apps_img_container {
    text-align: left;
    position: relative;
    z-index: 5;
    margin-bottom: 29em;
    padding: 3em 0 0 3em;
    img {
      margin: 0 1em 0 0;
    }
  }
  .ce_img {
    display: none;
  }
  .institutes_img_web {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 63%;
    z-index: 5;
  }
  .institutes_img {
    display: none;
  }
  .ce_img_web {
    display: inline;
  }
  .intro_cont {
    display: none;
  }
  .intro_img {
    display: block;
    width: 100%;
    text-align: center;
    img {
      width: 60%;
    }
  }
  .infosection {
    padding: 0;
    margin-top: 47em;
    h2 {
      text-align: center;
    }
  }
  .will_gain_web {
    margin: 0 12.5%;
  }
  .info_box {
    width: 30%;
    float: left;
    margin: 0 1.5%;
  }
  .find_out_more_container {
    text-align: center;
    margin: 5% 35%;
  }
  .testimonialcontainer {
    padding: 10em 20em;
    background: url(../img/testimonialbgweb.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .diagramweb {
    display: inline;
    width: 70%;
  }
  .diagramapp {
    display: none;
  }
  .science_behind {
    padding: 5% 8%;
    h2 {
      width: 10em;
    }
  }
  .get_app_section {
    padding: 2% 22% 0;
    background: #FDEBD7;
    .halfiphoneweb {
      float: left;
    }
    .store_imgs_cont {
        position: absolute;
        right: 30.5%;
        margin-top: 15em;
    }
    h5 {
      float: right;
      padding: 11% 0 0 0;
      width: 50%;
      text-align: left;
    }
  }
  .halfiphone {
    display: none;
  }
  .halfiphoneweb {
    display: block;
  }
  .sb_mobile {
    display: none;
  }
  .sb_web {
    display: block;
  }
}