$blue: #443b76;
$orange: #eb6054;

html {
  scroll-behavior: smooth;
}

body {
  @font-face {
    font-family: canada-type-gibson, sans-serif;
    font-style: normal;
    font-weight: 100;
    // font-family: 'Gibson' !important;
    // src: url(../fonts/Gibson-Light.otf) format('truetype') font-weight-lighter,
    //      url(../fonts/Gibson-Regular.ttf) format('truetype') font-weight-normal,
    //      url(../fonts/Gibson-RegularItalic.ttf) format('truetype') font-weight-italic,
    //      url(../fonts/Gibson-bold.otf) format('truetype') font-weight-bold,
    //      url(../fonts/Gibson-BoldItalic.ttf) format('truetype') font-italic font-weight-bold;
  }
}

strong {
  font-weight: 500 !important;
}
b {
  font-weight: 500 !important;
}
li {
  color: $blue;
}

@media (min-width: 768px) {
  h1 {
    font-size: 50px;
    color: $blue;
    font-weight: 300;
    letter-spacing: .5px;
  }
  h2 {
    font-size: 36px;
    font-weight: 300;
    color: $blue;
    letter-spacing: .5px;
  }
  h5 {
    font-size: 25px;
    font-weight: 200;
    color: $blue;
    letter-spacing: .5px;
  }
  p {
    font-size: 18px;
    font-weight: 200;
    color: $blue;
    letter-spacing: .5px;
  }
  .p14 {
    font-size: 14px;
    letter-spacing: .5px;
  }
}

/* For mobile phones: */
@import "home";
@import "homeweb";
@import "header";
@import "footer";
@import "about";
@import "aboutweb";
@import "science";
@import "scienceweb";
@import "privacy";
@import "privacyweb";
@import "terms";
@import "accessibility";
@import "accessibilityweb";
@import "contact";
@import "contactweb";
@import "termsweb";

h1 {
  font-size: 50px;
  color: $blue;
  font-weight: 300;
}
h2 {
  font-size: 36px;
  font-weight: 300;
  color: $blue;
}
h5 {
  font-size: 25px;
  font-weight: 300;
  color: $blue;
}
p {
  font-size: 18px;
  font-weight: 300;
  color: $blue;
}
.p14 {
  font-size: 14px;
}
.center_img {
  text-align: center;
}
.blue-btn {
  padding: 5px 2em;
  background: #443b76;
  border-radius: 50px;
  color: white;
  &:hover {
    background: #6872e7;
  }
}

// hover image
.aa_phone_images {
  #iphone1,
  #iphone2,
  #iphone3,
  #iphone4 {
    display: none;
  }
}
