.legalheader{
  height: 5em;
  background: #F8CB95 !important;
}
.bg-section{
  background: #F8CB95;  
}
.bg-section-web{
 display: none; 
}
.microbiome-sec-web{
  display: none;
}    

.lg_infor {
  height: 300px;
  
  font-family: Gibson; 
  font-style: normal;
  margin-left: 2em;  

  /* margin-top: 3em; */
  padding-top: 12em;
  
  h2{
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
    color: #443B76;
  
  }
}
.links{
       
  color: rgb(9, 10, 10);
}

.app-main{
 padding:1em !important;
 height: 100%;
 background: #FDF6F3;
   P, a li {
     color: #443B76;
   }
}
.app-main-web{
  
  display: none;
}
.pri-policy{
    margin-top: 2em;
}


