@media (min-width: 768px){
    .bg-section-web{
    padding:0 13% 0 13% !important;
    display: block !important;
    background: #FDF6F3;
          }
    .microbiome-sec-web{
    position: absolute;
    width: 3em;
    height: 2em;
    top: 10em;
    left: 50%;
    display: block;
    left: 1em;

        
          }
   .webheader{
    background: #FDF6F3;
    height: 5em;
    }
   .bg-section{
    display: none;  
    }
   .microbiome-sec{
        display: none;
    }
   .app-main-web{
    padding:1em 15% 0 15% !important;
    padding-bottom: 8em;
    display: block !important;
    background: #FDF6F3;
     p, h2, h5, a, h4{
           color: #443B76;
     }
    }
    .cookies{
     padding-bottom: 8em;
    }
   .app-main{
    display: none;
    }
    p h2{
    margin-left: 4em;
    }

    }