.legalheader{
  height: 5em;
  background: #F8CB95 !important;
}
.bg-section-web{
  display: none; 
}
.microbiome-sec-web{
  display: none;
}      
.lg_infor {
  height: 300px;
  font-style: normal;
  margin-left: 2em;  
  padding-top: 12em;
  h2 {
    font-family: 'Gibson' !important;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
  }
}
.app-main{
  padding:1em !important;
  height: 100%;
  background: #FDF6F3;
}
.app-main-web{
  padding:1em !important;
  display: none;
}
.pri-policy{
  margin-top: 2em;
}
.termswrapper {
  background: #F8CB95;
}